.wrapper {
  background-color: #fff;
  height: 100vh;
  max-width: 56rem;
  margin: auto;
  padding: 2rem;
  overflow: scroll;
}

.wrapperIcon {
  width: fit-content;
  margin-left: auto;
  cursor: pointer;
}
